<section class="panel ranking">
  <h1 class="title">Most Points</h1>
  <section class="content">
    <section class="client" ng-repeat="client in mostPointsRanking.clients" ng-class="{ 'gold' : $index === 0, 'silver' : $index === 1, 'bronze' : $index === 2}">
      <span>
        <i ng-show="$index < 3" class="fa fa-trophy" aria-hidden="true"></i>
        {{ ::client.user_names | largestOccurence }}
      </span>
      <span>{{ ::client.score | formatNumber }}</span>
    </section>
  </section>
  <section class="load-more">
    <span ng-click="mostPointsRanking.loadMore()">Load more</span>
  </section>
</section>
