$brand-color: #363A42;
$primary-color: #363A42;
$secondary-color: #8D99AE;
$primary-bg-color: #FFFFFF;

$nav-color: #8D99AE;
$nav-active-color: #363A42;

$header-bg-color: #f2f2f2;
$header-border-color: #EEEEEE;
$header-shadow-color: #bfbfbf;

$footer-bg-color: #f2f2f2;
$footer-border-color: #cccccc;
$footer-shadow-color: #bfbfbf;

$panel-bg-color: #f2f2f2;
$panel-border-color: #d9d9d9;
$panel-border-color2: #e6e6e6;
$panel-shadow-color: #bfbfbf;

$circle-color: #cccccc;
$circle-fill-color: #363A42;
$circle-bg-color: #f2f2f2;

$gold-color: #C98910;
$silver-color: #A8A8A8;
$bronze-color: #965A38;
