footer {
    .information {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        > h1 {
            color: #bfbfbf;
            text-transform: uppercase;
            padding: 5px;
        }

        > ul { 
            width: 100%;
            padding: 5px;

            > li {
                display: flex;
                flex-direction: row;
                padding: 5px;

                > span {
                    flex: 1;
                    color: $primary-color;
                    font-size: 1rem;
                    text-transform: uppercase;

                    &.primary {
                        text-align: right;
                        font-weight: 800;
                    }
                    &.secondary {
                        text-align: left;
                        font-weight: 200;
                        padding-left: 5px;
                    }

                    &.online {
                        color: #5cb85c;
                    }

                    &.offline {
                        color: #D33A35;
                    }
                } 
            }
        }
    }
}