<section class="server-panel-container">
  <section class="server-panel">
    <section class="server-panel-header">
      <h1>{{ server.name }}</h1>
    </section>
    <section class="server-panel-body">
      <client-graph online="server.online_clients" max="server.max_clients"></client-graph>
    </section>
    <section class="server-panel-clients">
      <section class="client-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Search a client" ng-model="clientList.filter" />
      </section>
      <section class="client-list" ng-scrollbars>
        <section class="client-panel" ng-repeat="client in server.clients | orderBy : 'time_connected' : true | filter : { user_name : clientList.filter }">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="username">{{ client.user_name }}</span>
          <span class="time-connected">{{ client.time_connected_text }}</span>
        </section>
      </section>
    </section>
  </section>
</section>
