<section class="server-container">
  <section class="server">
    <h1 class="server-name">{{ ::server.name }}</h1>
    <section class="server-client-graph">
      <client-graph online="server.online_clients" max="server.max_clients"></client-graph>
    </section>
    <section class="server-client-list">
      <section class="client-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Search a client" ng-model="client.filter" />
      </section>
      <section class="client-list" ng-scrollbars>
        <client client-info="client" ng-repeat="client in server.clients | orderBy : 'time_connected' : true | filter : { user_name : client.filter }"></client>
      </section>
    </section>
  </section>
</section>
