.panel {
  color: $primary-color;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;

  width: 100%;

  background-color: $panel-bg-color;
  border: 1px solid $panel-border-color;
  box-shadow: 1px 1px 1px $header-shadow-color;

  > .title {
    padding: 12px 0;
    margin: 0 10px;

    border-bottom: 1px solid $panel-border-color;
  }

  > .content {
    padding: 0 5px;
  }
}
