.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;

  .virtualserver-container {
    width: calc(100% / 3);

    @media screen and (max-width: $break-small) {
      width: calc(100% / 2);
    }

    @media screen and (max-width: $break-xsmall) {
      width: 100%;
    }
  }
}
