@import url("https://fonts.googleapis.com/css?family=Open Sans:200,300,400,600,700");

/* BODY */

body {
  display: flex;
  flex-direction: column;

  font-weight: 700;
  font-family: "Open Sans", sans-serif;

  width: 100%;
  height: 100%;
  background-color: $primary-bg-color;

  main {
    position: relative;
    flex: 1;

    @media screen and (max-width: $break-xsmall) {
      width: 100%;
    }
  }

  a {
    color: $primary-color;
  }
}
