.virtualserver {
  .virtualserver-client-list {
    display: flex;
    flex: 1;
    flex-direction: column;

    .virtualserver-client-search {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: none;
      border-bottom: 1px solid $panel-border-color;

      > i {
        flex: none;
        font-size: 0.7rem;
        padding: 10px;
      }

      > input {
        flex: 1;

        font-size: 0.7rem;
        font-weight: 700;
        text-transform: uppercase;

        padding: 10px 5px 10px 0;

        background-color: $panel-bg-color;
      }
    }

    .virtualserver-client {
      display: flex;
      flex-direction: row;
      flex: none;
      border-bottom: 1px solid $panel-border-color;

      > i, > span {
        color: $primary-color;
        font-size: 0.7rem;
        padding: 10px;
      }

      > i {
        flex: none;
      }

      > span {
        padding-left: 0;
        text-transform: uppercase;
      }

      > .client-time-connected {
        flex: none;
      }

      > .client-username {
        flex: 1;
        text-align: left;
      }
    }
  }
}
