<section class="panel">
  <section class="panel-header">
      <h1>{{ ::virtualserver.name }}</h1>
  </section>
  <section class="panel-body">
    <section class="client-list">
      <section class="client-search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" placeholder="Search a client" ng-model="virtualserver.filter" />
      </section>
      <section class="-client-list">
        <section class="client" ng-repeat="client in virtualserver.clients | orderBy : 'time_connected' : true | filter : { user_name : virtualserver.filter }">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="username">{{ ::client.user_name | username }}</span>
          <span class="time-connected">{{ ::client.time_connected | msToTime }}</span>
        </section>
      </section>
    </section>
  </section>
</section>
