<section class="panel statistic">
  <section class="panel-header">
    <h1>Client Countries</h1>
  </section>
  <section class="panel-body">
    <canvas class="chart chart-bar"
      chart-data="clientCountriesStatistic.graph.data"
      chart-labels="clientCountriesStatistic.graph.labels"
      chart-series="clientCountriesStatistic.graph.series"
      chart-colours="clientCountriesStatistic.graph.colours"
      chart-options="clientCountriesStatistic.graph.options">
    </canvas>
  </section>
</section>
