.virtualserver-container {
  flex: initial;
  width: calc(100% / 6);
  min-width: 240px;
  padding: 0 5px;

  &:first-child {
    padding-left: 10px;
  }

  &:last-child {
    padding-right: 10px;
  }

  .virtualserver {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    background-color: $panel-bg-color;
    border: 1px solid $panel-border-color;
    box-shadow: 1px 1px 1px $panel-shadow-color;

    .virtualserver-name {
      flex: none;
      color: $primary-color;
      font-size: 1rem;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 0;
      border-bottom: 1px solid $panel-border-color;
    }

    .virtualserver-more-info {
      display: flex;
      flex-direction: row;
      flex: none;
      color: $primary-color;
      font-size: 0.6rem;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 0;
      border-top: 1px solid $panel-border-color;

      a {
        flex: 1;
      }
    }
  }
}
