.search {
  display: flex;
  flex-direction: column;

  width: 100%;

  > .search-query {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: none;
    border-bottom: 1px solid $panel-border-color;

    > i {
      flex: none;
      font-size: 2rem;
      padding: 10px;

      @media screen and (max-width: $break-xsmall) {
        font-size: 1rem;
      }
    }

    > input {
      flex: 1;
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px;
      background-color: $panel-bg-color;

      @media screen and (max-width: $break-xsmall) {
        font-size: 1rem;
      }
    }
  }

  > .search-controls {
    display: flex;
    flex-direction: column;

    flex: none;

    margin-top: 10px;

    > .search-order-types, > .search-orders {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @media screen and (max-width: $break-xsmall) {
        flex-direction: column;
      }
    }

    > .search-option {
      flex: none;
    }
  }

  > .search-results {
    margin: 10px 0 5px;

      > .client {
        padding: 10px 0;
        margin-bottom: 10px;

        background-color: $panel-body-bg-color;
        border-bottom: 1px solid $panel-border-color;

        &:last-child {
          margin-bottom: 0;
        }

        > .operating-system, > .username {
          display: block;
          color: $primary-color;
          font-size: 1rem;
        }

        > .operating-system {
          float: right;
        }

        > .username {
          word-wrap: break-word;
          margin-bottom: 5px;
          font-weight: 800;
          text-transform: uppercase;
        }

        > .last-seen, > .connections, > .average-connected-time {
          display: block;
          color: $primary-color;
          font-size: 0.65rem;
          padding: 2px;
        }

        .special {
          color: $special-color;
        }
    }
  }
}
